# Ignore Gradle project-specific cache directory
.gradle
.classpath
.gitattributes
.project
build.gradle
gradlew
gradlew.bat
settings.gradle
# Ignore Gradle build output directory
build
/bin
/.settings